<style media="screen">
.body{


}


  .clockContainer {
    display: flex;

    justify-content: center;
  }
.clock{
  text-align: center;
  background-image: url('Images/clockimage.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;


  display: block;

  height: 400px;
  width: 400px;
}
.hourhand{
  position: absolute;
  width: 33%;
  top: 41.8%;
  left: 50%;
  transform-origin: left;
  animation-name: moveHourHand;
  animation-duration: 10s;
  animtion-timing-function: ease-in-out;


}
.minHand{
  position: absolute;
  width: 16%;
  top: 14%;
  left: 42%;
  height: 36%;
  transform-origin: bottom;
  animation-name: moveMinHand;
  animation-duration: 10s;
  animtion-timing-function: ease-in-out;



}
@keyframes moveMinHand {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
@keyframes moveHourHand {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(30deg);}

}
.imageContainer{
  position: relative;
  background-image: url('Images/Manhattan.jpg');
  height:500px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.textBox{
    position: absolute;
    bottom: 5%;
    right: 3%;
    font-size: 12px;
    background-color:rgb(105,105,105, 0.7) ;
    text-align: center;
    width:50%;
}




</style>
