<style media="screen">

.body{

}
.MainIconBar{
  height:105px;
}
.ExploreWrapper{
  float: left;
  width:50%;
  height: 100px;
}
.IcelandWrapper{
  float: left;
  width: 50%;
  height:100%;
  text-align: right;
}
.ExploreIceland{
  height: 100px;
  width: 25%;
}
.MapofIceland{
  height:100px;
  width:25%;

}


.northernLightsDescription p{
  color: white;
  padding: 0px;
}

.northernLightsDiv{
  float: left;
  height: 98%;
  width: 30%;
}
.northernLightsImage{

  float: left;
  height:90%;
  border: purple solid;
  width: 98%

}


.IceClimbingImage{
  float: left;
  height: 90%;
  width: 100%;
  border: purple solid;

}
.IceclimbingImageContainer{
  float: left;
  height: 98%;
  width:30%;
  margin-left: 6%;
}
table th{
  background-color: lightgreen;
}
.ContactUs div{
  height: 50px;
}
.ContactUs img{
  height: 100%;
  float: left;
  margin-right: 20px;
}


.footerWrapper{
    text-align: center;
}
.footerLinks{
list-style-type: none;
display: inline-block;

width: 90%;

}
.nav{
  display: inline;
  float: left;
  width: 23%;
}


.footerLinks a{
  text-align: center;
  font-size: 19px;
}





</style>
